@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h1>Prijava</h1>
<form asp-action="Login" method="post" class="auth-form">
    <div asp-validation-summary="ModelOnly" class="validation"></div>
    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email" class="validation"></span>

    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password" class="validation"></span>

    <label class="checkbox">
        <input asp-for="RememberMe" /> Zapamti me
    </label>

    <button class="btn btn-primary" type="submit">Prijavi se</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
