@model RegisterViewModel
@{
    ViewData["Title"] = "Registracija";
}

<h1>Registracija</h1>
<form asp-action="Register" method="post" class="auth-form">
    <div asp-validation-summary="ModelOnly" class="validation"></div>
    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email" class="validation"></span>

    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password" class="validation"></span>

    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword" />
    <span asp-validation-for="ConfirmPassword" class="validation"></span>

    <button class="btn btn-primary" type="submit">Kreiraj račun</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
