@{
    ViewData["Title"] = "404";
}

<main class="section container" style="text-align:center; min-height: 70vh; display:grid; place-items:center;">
    <div>
        <h1>404</h1>
        <p>Ups! Stranica koju tražite ne postoji.</p>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Vrati se na početnu</a>
    </div>
</main>
