@{
    ViewData["Title"] = "404";
}

<main class="section container legal center">
    <div>
        <h1>404</h1>
        <p>Tražena stranica ne postoji.</p>
        <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Početna</a>
    </div>
</main>
